<div class="row meal_profile">
  <div class="col-xs-5 user-info">
    <h3>{{main.currentUser.displayName}}</h3>
    <hr>
    <p><strong>Username:</strong> {{main.currentUser.displayName}}</p>
    <p><strong>Email:</strong> {{main.currentUser.email}}</p>
    <p><strong>Meals:</strong> {{mealUserCtrl.meals.length}}</p>

    <a ng-href="/profile" class="btn btn-info">Edit Profile</a>
    <div>
      <h3>Total: </h3>
      <p><strong>Calories: </strong>{{mealUserCtrl.sumOfAllCalories}}</p>
    </div>
    <div>
      <div class="add-food-here">
      </div>
      <form ng-submit="mealUserCtrl.something()">
      <input type="text" ng-model="mealUserCtrl.inputValue" placeholder="Search Food" class="form-control" required=''>
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
    </div>
  </div>
  <div class="col-xs-5 user-meal">
    <a ng-href="meals/new" class="btn btn-info" id="add-new-meal">Add a meal</a>
    <div ng-repeat="meal in mealUserCtrl.meals">
      {{meals}}
      <ul class="meal_list_profile">
        <p><strong>Food Name: </strong>{{meal.foodName}}</p>
        <p><strong>Time: </strong>{{meal.time}}</p>
        <p><strong>Calories: </strong>{{meal.calories}}</p>
        <br>
        <a ng-href="/users/{{meal.user}}/meals/{{meal._id}}" class="btn btn-info pull-right" id="edit-meal-btn">Edit Meal</a>
        <br>
      </ul>
    </div>
  </div>
</div>
