<div class="meal_profile">
  <div class="col-xs-6">
    <h3>{{main.currentUser.displayName}}</h3>
    <hr>
    <p><strong>Username:</strong> {{main.currentUser.displayName}}</p>
    <p><strong>Email:</strong> {{main.currentUser.email}}</p>
    <p><strong>Meals:</strong> {{mealUserCtrl.meals.length}}</p>

    <a ng-href="/profile" class="btn btn-info">Edit Profile</a>
    <div>
      <h3>Total: </h3>
      <p><strong>Calories: </strong>{{mealUserCtrl.sumOfAllCalories}}</p>
    </div>
  </div>
  <div class="col-xs-6">
    <div ng-repeat="meal in mealUserCtrl.meals">
      <ul class="meal_list_profile">
        <li><strong>Food Name: </strong><a ng-href="/users/{{meal.user}}/meals/{{meal._id}}">{{meal.foodName}}</a></li>
        <li><strong>Time: </strong>{{meal.time}}</li>
        <li><strong>Calories: </strong>{{meal.calories}}</li>
      </ul>
    </div>
    <a ng-href="meals/new" class="btn btn-info">Add a meal</a>
  </div>
</div>
