html, body, ul, p, {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(64, 64, 64);
}

a:link, a:visited, a:hover, a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.top-welcome {
  height: 800px;
  text-align: center;
  background-image: url("https://i.imgur.com/ixSP2GV.jpg");
  margin-top: -20px;
  background-size: cover;
}

.top-welcome-text {
  color: rgb(255, 255, 255);
  padding-top: 20%;
}

.middle-welcome {
  background-color: rgb(42, 42, 42);
  height: 400px;
}

#middle-welcome-text {
  margin-top: 120px;
  color: rgb(255, 255, 255);
}

#middle-welcome-image {
  margin-top: 25px;
  height: 350px;
  width: 100%;
}

.navbar.navbar-default {
  background-color: rgb(64, 64, 64);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default li a {
  color: rgb(255, 255, 255);
}

.navbar.navbar-default .navbar-collapse {
  color: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-meal {
  height: 750px;
  margin-bottom: 5px;
}

.meal_profile {
  background-image: url("https://i.imgur.com/xwBYhl9.jpg");
  background-size: cover;
  background-position: center fixed;
  margin-top: -20px;
  height: 100vh;
  font-family: 'Lemonada', cursive;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow: hidden scroll;
}

.user-info {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
}

.meal_list_profile {
  border: white 1px solid;
  margin: 5px;
  font-size: 14px;
  padding: 10px;
}

#edit-meal-btn {
  margin-bottom: 15px;
  margin-top: -25px;
  width: 100%;
  padding: 2px;
}

#add-new-meal {
  margin: 25px 0 0 20px;
}

.edit-btn {
  text-align: center;
}

.show-one-page {
  background-image: url('https://i.imgur.com/PhPi8Sc.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center fixed;
}

.show-one-meal {
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

.login-page {
  height: 800px;
  margin-top: -20px;
  padding-bottom: 20px;
  background-image: url("https://i.imgur.com/SWlHL8J.jpg");
  background-size: cover;
}

footer {
  background-color: rgb(64, 64, 64);
  margin: 0;
  padding: 10px;
}

footer a {
  color: rgb(255, 255, 255);
}

footer li {
  display: inline;
  margin: 10px;
  padding: 10px;
}
