html, body, ul, p, {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(64, 64, 64);
}

a:link, a:visited, a:hover, a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.welcome {
width: 100%;
height: 100vh;
background-color: rgb(255, 245, 219);
}

.welcome-msg {
  color: rgb(255, 255, 255);
  background-image: url('../images/welcome-img.png');
  min-height: 100%;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  position: relative;
  top: 0;
  left: 0;
  background-position: center;
  display: table;
}

.welcome-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

@media all and (min-width: 1200px) {
.font-control{
    font-size: 60px;
  }
}

@media all and (max-width: 1199px) and (min-width: 800px) {
.font-control{
    font-size: 4.4vw;
  }
}

@media all and (max-width: 799px) and (min-width: 50px) {
.font-control{
    font-size: 3.4vw;
  }
}

.form-signup {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  margin-top: 25%;
}

.form-legend {
  margin-bottom: 33%;
  color: rgb(115, 205, 31);
}

.login-now p{
  text-align: center;
}


.navbar.navbar-default {
  background-color: rgb(64, 64, 64);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
}

.navbar.navbar-default li a {
  color: rgb(255, 255, 255);
}

.navbar.navbar-default .navbar-collapse {
  color: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-meal {
  height: 750px;
  margin-bottom: 5px;
}

.navbar-brand {
  text-decoration-color: rgb(255, 255, 255);
}


.meal_profile {
  background-image: url("https://i.imgur.com/xwBYhl9.jpg");
  background-size: cover;
  background-position: center fixed;
  margin-top: -20px;
  height: 100vh;
  font-family: 'Lemonada', cursive;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow: hidden scroll;
}

.user-info {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
}

.meal_list_profile {
  border: white 1px solid;
  margin: 5px;
  font-size: 14px;
  padding: 10px;
}

#edit-meal-btn {
  margin-bottom: 15px;
  margin-top: -25px;
  width: 100%;
  padding: 2px;
}

#add-new-meal {
  margin: 25px 0 0 20px;
}

.edit-btn {
  text-align: center;
}

.show-one-page {
  background-image: url('https://i.imgur.com/PhPi8Sc.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center fixed;
}

.show-one-meal {
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

.login-page {
  height: 800px;
  margin-top: -20px;
  padding-bottom: 20px;
  background-image: url("https://i.imgur.com/SWlHL8J.jpg");
  background-size: cover;
}

.nutritionix-link a {
  color: rgb(28, 163, 0);
}

.api-search {
  margin: 10px;
  padding: 10px;
}

footer {
  background-color: rgb(64, 64, 64);
  margin: 0;
  padding: 10px;
}

footer a {
  color: rgb(255, 255, 255);
}

footer li {
  display: inline;
  margin: 10px;
  padding: 10px;
}
